@import './_ndri.colors';
@import "tailwindcss/base";

$sh: 0px 0px 1px #fff;

h1 {
  color: $primary-darker;
}

h1,
h2,
h3 {
  font-family: 'Poiret One';
}

.ndri-header {
  // position: fixed;
  background-position: top;
  background-repeat: no-repeat;
}

.ndri-header-img {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-size: auto 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

