@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply text-base py-1 m-0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-title;
  }
  h1 {
    @apply text-4xl mt-4 py-3;
    @apply text-blue-700;
  }
  h2 {
    @apply text-3xl mt-4 py-3;
    @apply text-blue-700;
  }
  h3 {
    @apply text-2xl mt-2 py-2;
  }
  h4 {
    @apply text-xl py-2;
  }
  h5 {
    @apply text-xl py-2;
  }
  h6 {
    @apply text-lg py-2;
  }

  ul{
    @apply list-disc list-inside py-2;
  }

  .content h1,
  .content h2 {
    @apply border-t-2 border-blue-700;
  }
  .content h3 {
    @apply border-t-2 border-gray-800;
  }
}

.ndri-header-img {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: top;
  background-size: auto 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
