@import "~bulma/sass/utilities/initial-variables"
@import "./_ndri.colors"

$sh: 0px 0px 1px #fff;

.ndri-header
  // position: fixed;
  background-position: top;
  background-repeat: no-repeat;

.ndri-title
  font-family: 'Poiret One';
  font-size: 4em!important;
  font-weight: 400!important;
  background: inherit;
  -webkit-background-clip: text;
  background-clip: text;
  color: $primary-darker;
  text-align: center;

.ndri-subtitle
  font-family: 'Poiret One';
  font-size: 2rem!important;
  font-weight: 400;
  color: $primary;
  text-align: center;

.ndri-footer-title
  font-family: 'Poiret One';
  font-size: 4em!important;
  font-weight: 400!important;
  background: inherit;
  -webkit-background-clip: text;
  background-clip: text;
  color: $primary-invert;
  text-align: center;

.address
  margin-left: 2em;
  margin-top: 1em;
  padding: 0.5em 0.75em;


h1, h2, h3
  font-family: 'Poiret One';